menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: cursive;
    color: #ffffff;
    padding: 20px;
}

body{
    margin: 0px;
    background-color: #008080;
}



.grid{
    display: inline-flex;
    flex-wrap: wrap;
}

.origami img{
    border: 2px solid #000000;
    border-width: 10px;
}

.origami {

    border-width: 10px;
    background-color: cadetblue;
    width: 310px;
    font-family: fantasy;
    padding-right:100px;
    padding-left:100px;

}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.top-right {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: ivory;
  }

  a:link{
    color: #ffffff;
}

a:visited{
    color: #000000;
}

.origami:hover img{
    transform: scale(1.2);
}